<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/global.css" />
    <link rel="stylesheet" href="/public/forms.css">
    <title>Add Artist</title>
</head>

<body>

    <%- include ('../partials/navbar') %>


        <form method="POST" action="/artists/new">

            
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="inputName">First Name</label>
                        <input required type="text" name="firstname" class="form-control" id="inputName" placeholder="Name">
                    </div>

                    <div class="form-group col-sm-3">
                        <label for="inputName">Last Name</label>
                        <input required type="text" name="lastname" class="form-control" id="inputName" placeholder="Name">
                    </div>

                    <div class="form-group col-sm-3">
                        <label for="inputCountry">Country of Birth</label>
                        <input required type="text" name="country" class="form-control" id="inputCountry"
                            placeholder="Country of Birth">
                    </div>

                    <div class="form-group col-sm-3">

                        <label for="inputDOB">Date of Birth</label>
                        <input required type="date" name="dob" class="form-control" id="inputDOB">
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="inputDOD">Date of Death (if applicable)</label>
                        <input type="date" name="dod" class="form-control" id="inputDOD">
                    </div>
                    <div class="col-sm-7"></div>
                    <div class="form-group col-sm-2">
                        <label for="submitbtn"></label>
                        <input type="submit" class="submitbtn form-control" id="submitbtn">
                    </div>
                </div>
            </div>
        </form>


</body>

</html>