<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/home.css"/>
    <link rel="stylesheet" href="/public/global.css"/>
    <title>Help</title>
</head>
<body>
    <%- include ('./partials/navbar') %> 

        <div class="container-fluid text-center mt-3">
          <h3 class="display-5">About</h3>
          <p class="lead">A database management system project - made by <a class="link-info" href="https://www.github.com/aliahmed58">aliahmed</a></p>
          <p>Visit the <a class="link-info" href="/help">help</a> page for guide and information about database constraints</p>
          <p>Developed in <code>Expressjs</code> with <code>Oracle database</code> - visit <a class="link-info" href="https://www.github.com/aliahmed58/masterpieces">github</a> to view source code</p>
        </div>

</body>
</html>