<nav class="navbar navbar-dark navbar-expand shadow" style="background-color: #1f364d;">
    <div class="container-fluid align-center">
      <a class="navbar-brand" href="/">Masterpieces</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  id="navigationbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active underlined" href="/help">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active underlined" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
