.container {
    padding: 100px;
}

.submitbtn {
    background-color: #0e2439;
    color: white;
}

.submitbtn:hover {
    transition: 0.3s all;
    color: white;
    background-color: #4799eb;
}

.form-group {
    margin-bottom: 10px;
}