.row {
    padding: 10px;
}

.h5 {
    color:#123442;
}

.card:hover {
    transition: 0.5s all;
    background-color: #123442;
    color: white;
}

.card {
    margin: 10px;
    border: 1px solid #123442;
    background-color: white;
    color: #123442;
    transition: 0.5s all;
}

.btn {
    background-color: #95b9c7;
    padding: 10px;
    color: black;
}

.btn:hover {
    transition: 0.5s all;
    color:#123442;
    border: 1px solid white;
    background-color: white;
}