@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #0e2439;
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
}

.row {
    padding: 10px;
    margin: 10px 20px 20px 10px;
}

.h5 {
    color:#123442;
}

.card:hover {
    transition: 0.5s all;
}

.card {
    margin: 5px;
    border: 1px solid #123442;
    background-color: #1f364d;
    color: white;
    transition: 0.5s all;
}

.btn {
    background-color: #0e2439;
    padding: 10px;
    color: white;
}

.btn:hover {
    transition: 0.5s all;
    background-color: #4799eb;
}